<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body><br>
    <div class="container">
        <form action="/addbuk" method="get">
        <h1 class="text-center">Book Details</h1><br><br>
        <button type="submit" class="btn btn-success" style="margin-left: 90%">Add Book</button><br><br>
        <table class="table">
            <tr>
                <th>Cover Image</th>
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Price</th>
            </tr>
            <% for(var i=0;i<data.length;i++)
            {
             %>
            <tr>
                <td style="width: 100px"><img src="../public/images/book1.jpg" class="img-responsive img-responsive-2" alt="book1" style="width: 50px"></td>   
                <td><%= data[i].Bukid%></td>    
                <td><%= data[i].Bukname%></td>  
                <td><%= data[i].Author%></td>  
                <td><%= data[i].Price%></td>          
            </tr>
            <% }%>
        </table>
    </form>
    </div>
</body>
</html>