<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <br>
   <h1>Home </h1>
    <form action="/insert" method="post">
        <table>
            <tr>
                <td>Book id</td>
                <td><input type="text" name="bukid"></td>
            </tr>
            <tr>
                <td> Book Name</td>
                <td><input type="text" name="bukname"></td>
            </tr>
            <tr>
                <td>Author</td>
                <td> <input type="text" name="author"></td>
            </tr>
            <tr>
                <td></td>
                <td> <button type="submit">Insert</button></td>
            </tr>
        </table>
    </form><br><br>

    <form action="/delete" method="post">
       Book id <input type="text" name="bid"> 
        <button type="submit">Delete</button>
    </form><br><br>

    <form action="/update" method="post">
        <table>
                <tr>
                    <td>Book id</td>
                    <td><input type="text" name="bukid"></td>
                </tr>
                <tr>
                    <td> Book Name</td>
                    <td><input type="text" name="bukname"></td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td> <input type="text" name="author"></td>
                </tr>
                <tr>
                    <td></td>
                    <td> <button type="submit">Update</button></td>
                </tr>
            </table> 
    </form><br><br>

    <form action="/view" method="post">
        Book id <input type="text" name="bid"> 
         <button type="submit">View</button>
    </form><br><br>

    <form action="/upload" method="post" encType="multipart/form-data">
        <input type="file" name="samplefile">
        <button type="submit">Upload</button>
    </form>

</body>
</html>