<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Scanner Home Page</h1>
    <ul>
        <pre>
            <li><a href="prd/printer/add_prntr">Add Printer</a></li>
            <li><a href="prd/printer/edit_prntr">Edit Printer</a></li>
            <li><a href="prd/printer/view_prntr">View Printer</a></li>
            <li><a href="prd/printer/del_prntr">Delete Printer</a></li>
        </pre>
    </ul>
</body>
</html>