<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Scanner Home Page</h1>
    <ul>
        <pre>
            <li><a href="prd/scan/add">Add Scanner</a></li>
            <li><a href="prd/scan/edit">Edit Scanner</a></li>
            <li><a href="prd/scan/view">View Scanner</a></li>
            <li><a href="prd/scan/del">Delete Scanner</a></li>
        </pre>
    </ul>
</body>
</html>